<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>ReadMe</title>
  <link rel='stylesheet' href='/stylesheets/stylll.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2e91114682.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <div class="containerNav">
            <nav>
                <div class="logo">
                    <img src="/images/readmeLogo.png">
                </div>
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="/chat"><i class="fa-solid fa-comments"></i></a></li>
                    <% if (user) { %>

                        
                        <li><a href="/userProfil"><i class="fa-solid fa-user"></i></a></li>

                    <% } else { %>


                      <% } %>

                <li><a href="#"><i class="fa-solid fa-phone"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
            </ul>
            <% if (user) { %>
                <div class="log">
                    <%= user.username %>
                </div>
                <div class="logout">
                    <a href="/logout">Logout</a>
                </div>
                <% } else { %>

                    <div class="connexion"> 
                        <a href="/login">Login</i></a>
                        <a href="/register">Register</i></a>
                    </div>

                  <% } %>                
                </ul>
            </nav>
        </div>
    </div>

<main><%-body %></main> 
<p>© Copyright - Dwwm Prod 2022</p>

</body>
</html>