  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-8 col-xl-6 chat">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                    class="rounded-circle user_img">
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <span>Pamela MIHIGO</span>
                <p>En ligne</p>
              </div>
              <div class="video_cam">
                <span><i class="fas fa-video"></i></span>
                <span><i class="fas fa-phone"></i></span>
              </div>
             </div>
          </div>
          <!-- Chat messages will be appended inside this container -->
          <div class="card-body msg_card_body">
            <div class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg">
                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer" id="messages">
              </div>
            </div>
          </div>
            <!-- Form to enter and submit new chat messages -->
          <div class="card-footer ">
            <div id ="messages"></div>
              <form action="">
                <div class="envoyer">
                  <input type="text" id = "msg" autocomplete="off" class="form-control attach_btn" placeholder="Votre message" aria-label="Votre message" aria-describedby="addon-wrapping"/> 
                  <button class="btn btn-primary"><i class="fas fa-location-arrow"> </i> </button>
                </div>
                <div class="input-group">
                  <div class="input-group flex-nowrap"> </div>
                </div>
              </form>
            </div>
          </div>
        </div> 
      </div>
    </div>

   <!-- Script to emit/receive events from socket.io server -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    // var socket = io();
   $(function (){
 
     var socket = io();
     $("form").submit(function (e) {
       e.preventDefault();
 
       socket.emit("chat message", $("#msg").val() );
       $("#msg").val("");
       return false;
     });
     socket.on('chat message', function(msg) {
       $("#messages").append($("<p>").text(msg));
 
     });
   });
  </script>


