
<link rel='stylesheet' href='/stylesheets/stylll.css' />

<div class="forgetWrapper">
    <div class="forgetBox7">
        <h1> Forgotten Password</h1>
    </div>
    <div class="forgetBox8"> 
    <form action="/forgottenPassword" method="post">
        <div class="form-group">
            <label for="email">Vous avez oublié votre mot de passe ? </label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email..." value="<%= typeof email != 'undefined' ? email : '' %>" size="30" />
            <div class="email error"></div>
        </div>
        <p>Pour vous connecter<a href="/login">Login</a></p>
    <div class="forgetBox9">
        <input  type="submit" value="Valider" class="btn btn-primary btn-block">
        <input type="button" value="Annuler" onclick="history.go(-1)">
    </div>     
    </form>
    </div>
</div>
    