<link rel='stylesheet' href='/stylesheets/stylll.css' />
<div class="userPhotosWrapper">
    <div class="userPhotosCover">
        <img src="/images/plage.jpg">
    </div>
    <div class="userPhotosId-section">
        <div class="userPhotosCircle">
            <img src="/images/<%=user.photoProfil%>" class="userPhotosLogo">
        </div>
        <div class="userPhotosTitle">
            <%=user.username%> Gallery
        </div>
        <!-- <div class="grille1"> -->
        <div class="userPhotosGrille">
            <% if(typeof userPhotos !=='undefined' && userPhotos.length> 0 ) { %>
                <% userPhotos.forEach(function(userPhoto) { %>
                    <div class="userPhotosGrid-item"><img src="/uploads/<%=userPhoto.img%>" width="200px"
                            height="200px"></div>
                    <% }) %>

                        <% } else { %>
                            <p>Aucunes photos trouvées.</p>
                            <% } %>

                                <form action="/userPhotos" enctype="multipart/form-data" method="POST">
                                    <div class="col-12">

                                        <input type="file" class="form-control" name="image" accept="image/*">
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Envoyer</button>
                                    </div>
                                </form>
        </div>
    </div>
</div>
</div>

</div>