
        <div class="wrapper">
            <div class="cover">
                <img src="/images/plage.jpg">
            </div>
            <div class="id-sectio">
                <div class="circle">
                    <img src="/images/images.jpg" class="logo">
                </div>
                <h1>Gallery</h1>
                <!-- <div class="grille1"> -->

                <div class="grille">
                    <div class="grid-item"><img src="/images/paysage4.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage1.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage2.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage3.jpg" width="200px" height="200px"></div>
                
                    <div class="grid-item"><img src="/images/paysage5.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage6.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage7.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage8.jpg" width="200px" height="200px"></div>
                
                    <div class="grid-item"><img src="/images/paysage9.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage10.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage11.jpg" width="200px" height="200px"></div>
                    <div class="grid-item"><img src="/images/paysage12.jpg" width="200px" height="200px"></div>
                </div>
                </div>
            </div>
        </div>
    </div>

