/********************************************************
      CHAT

**********************************************************/
.chat {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 80px;
}


.ChatCard {
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  /* background: #7F7FD5; */
  /* background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
  background: linear-gradient(to right, #bacac9, #92a1bd, #ececf8);
  width: 50%;
  margin: 0px 0px 0px 280px;
  font-size: 0%;
}

.ChatContacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;

}

.Chatmsg_card_body {
  overflow-y: auto;
  height: 300px;

}

.ChatCard-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
  background: #644e63;
}

.ChatCard-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
  background: #795e77;
}

.ChatContainer {
  align-content: center;

}

.ChatSearch {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
} 

.ChatSearch:focus {
  box-shadow: none !important;
  outline: 0px !important;
} 

.ChatType_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.ChatType_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.ChatAttach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.ChatSend_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.ChatSearch_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;

}

.ChatContacts {
  list-style: none;
  padding: 0;
}

.ChatContacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}

.ChatActive {
  background-color: rgba(0, 0, 0, 0.3);
}

.ChatUser_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;

}

.ChatUser_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
  

}

.ChatImg_cont {
  position: relative;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  padding-top: 5px;
}

.ChatImg_cont_msg {
  height: 40px;
  width: 40px;
  padding-top: 5px;
  margin-left: 10px;


}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 10px;
}

.ChatOnline_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;}

.ChatOffline {
  background-color: #c23616 !important;
}

.ChatUser_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.ChatUser_info span {
  font-size: 20px;
  color: white;
}

.ChatUser_info p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.ChatVideo_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.ChatVideo_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.Chatmsg_cotainer {
  margin-top:20px;
  margin-bottom: auto;
  margin-left:10px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #e7d2d5;
  padding: 10px;
  position: relative;

}

.Chatmsg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}

.Chatmsg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(26, 12, 12, 0.5);
  font-size: 10px;
}

.Chatmsg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.Chatmsg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.Chatbtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-right: 10px;
  height: 50px;
  margin-top: 5px;
  border-radius: 15px;
  width:59px;
  border-radius: 10px;
  background-color: #361ebe;
  color: #fff;
  margin-left: 1px;

}

input[type="text"] {
  width:880px;
  padding: 13px;
  border: 2px solid #9381FF;
  color: black;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
  letter-spacing: 3px;

}

.ChatAttach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.ChatForm-control {
  display: block;
  height: calc(2.25rem + 6px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #c7d1db;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #eaeff3;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
.ChatAction_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}

.ChatAction_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ChatAction_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.ChatAction_menu ul li i {
  padding-right: 10px;

}

.ChatAction_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
  .ChatContacts_card {
      margin-bottom: 15px !important;
  }
}
.ChatEnvoyer{
  display:flex;
  justify-content: space-around;
  margin-left: 35px;
}
