*, ::before, ::after {
    box-sizing: border-box;
    margin: 20px;
    padding: 0px;
    margin-top: 0px;
}

body {
    font-family: Poppins;
    background-color: #FFEEDD; 
}

h1{
    color: rgb(233, 12, 12);
    display: grid;
    font-size: 53px;
    justify-content: center; 
    align-items: center;
    text-shadow: 2px 2px 4px #9381FF;
}

.wrapper{
    display: grid;
    height: 100hv;
    width: 100%;
    display: grid;
    /* border-radius: 10px; */
    grid-template-rows: 1fr;
    grid-template-columns:  auto auto auto ;
    gap: 7px;
    background-color: #fdfdfc;    
}

    /**********************
    *********BOX*********
    **********************/

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 2;
    color: rgb(8, 8, 8);
    display: grid;
    align-items: center;
    /* border: red solid; */
}

.box1 .h1{
    display: grid;
    align-items: center;
    justify-content: center;
}

.box2 {
    grid-column-start: 2;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    color: rgb(8, 8, 8);
    border-radius: 10px;
    font-size: 12px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #e4e0ee;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    color: rgb(3, 3, 3);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    /* border: black solid; */
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 45px;
    margin-inline-end: 0px;
}

.form-group input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 10px;
    border: unset;
    background-color: #B8B8FF ;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    font-size: 27px;
}

form p {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

    /**********************
    *********INPUT*********
    **********************/

input[type="text"] {
    width: 100%;
    padding: 3px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    letter-spacing: 3px;
}

input[type="pseudo"] {
    width: 100%;
    padding: 3px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    letter-spacing: 3px;
    font-size: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 3px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    letter-spacing: 3px;
    font-size: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 3px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    letter-spacing: 3px;
    font-size: 20px;
}

input[type=submit] {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #9381FF;
    color: rgb(253, 253, 253);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=button] {
    background-color: #9381FF;
    color: rgb(253, 253, 253);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #B8B8FF;
    color: rgb(253, 253, 253);
}

input[type=button]:hover {
    background-color: #B8B8FF;
    color: rgb(253, 253, 253);
}

/********************************************************
      CHAT

**********************************************************/


.chat {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 80px;
  
  }
  
  .card {
    height: 600px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    /* background: #7F7FD5; */
    /* background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
    background: linear-gradient(to right, #bacac9, #92a1bd, #ececf8);
  
  }
  
  .contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
  
  }
  
  .msg_card_body {
    overflow-y: auto;
  
  }
  
  .card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background: #644e63;
    
  
  }
  
  .card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background: #795e77;
  }
  
  .container {
    align-content: center;
  }
  
  .search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
  }
  
  .search:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  
  .type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
  }
  
  .type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  
  .attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
  }
  
  .send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
  }
  
  .search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
  
  }
  
  .contacts {
    list-style: none;
    padding: 0;
  }
  
  .contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
  }
  
  .active {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
  
  }
  
  .user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
  
  }
  
  .img_cont {
    position: relative;
    height: 70px;
    width: 70px;
  }
  
  .img_cont_msg {
    height: 40px;
    width: 40px;
  }
  
  .online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
  }
  
  .offline {
    background-color: #c23616 !important;
  }
  
  .user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
  }
  
  .user_info span {
    font-size: 20px;
    color: white;
  }
  
  .user_info p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .video_cam {
    margin-left: 50px;
    margin-top: 5px;
  }
  
  .video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #d2e3e7;
    padding: 10px;
    position: relative;
  }
  
  .msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
  }
  
  .msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
  }
  
  .msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
  }
  
  .msg_head {
    position: relative;
  }
  
  #action_menu_btn {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 30px;
  
    
  }
  #messages{
    display: flex;
  }
  .btn-primary {
    color: #fff;
    background-color: #0a446b;
    width: 80px;
    border-radius: 15px;
  
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  input[type="text"] {
    width: 550px;
    padding: 13px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    letter-spacing: 3px;
  }
  
  .attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
  }
  
  .form-control {
    display: block;
    /* width: 10px; */
    height: calc(2.25rem + 6px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #c7d1db;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eaeff3;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  button, input {
    overflow: visible;
  }
  
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
  }
  .action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
  }
  
  .action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
  }
  
  .action_menu ul li i {
    padding-right: 10px;
  
  }
  
  .action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  @media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
  }
  .envoyer{
    display:flex;
    justify-content: space-around;
  }

