*, ::before, ::after {
    box-sizing: border-box;
    margin: 20px;
    padding: 0px;
    margin-top: 0px;
}

body {
    font-family: Poppins;
    background-color: #FFEEDD; 
}

h1{
    color: white;
    display: grid;
    font-size: 53px;
    justify-content: center; 
    align-items: center;
    text-shadow: 2px 2px 4px #9381FF;
}

.wrapper{
    display: grid;
    height: 100hv;
    width: 100%;
    display: grid;
    /* border-radius: 10px; */
    grid-template-rows: 1fr;
    grid-template-columns:  auto auto auto ;
    gap: 7px;
    background-color: #fdfdfc;    
}

    /**********************
    *********BOX*********
    **********************/

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 2;
    color: rgb(8, 8, 8);
    display: grid;
    align-items: center;
    /* border: red solid; */
}

.box1 .h1{
    display: grid;
    align-items: center;
    justify-content: center;
}

.box2 {
    grid-column-start: 2;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    color: rgb(8, 8, 8);
    border-radius: 10px;
    font-size: 12px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #e4e0ee;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    color: rgb(3, 3, 3);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    /* border: black solid; */
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 45px;
    margin-inline-end: 0px;
}

.form-group input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 10px;
    border: unset;
    background-color: #B8B8FF ;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    font-size: 27px;
}

form p {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

    /**********************
    *********INPUT*********
    **********************/

input[type="text"] {
    width: 100%;
    padding: 3px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    letter-spacing: 3px;
}

input[type="pseudo"] {
    width: 100%;
    padding: 3px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    letter-spacing: 3px;
    font-size: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 3px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    letter-spacing: 3px;
    font-size: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 3px;
    border: 2px solid #9381FF;
    color: black;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;    
    letter-spacing: 3px;
    font-size: 20px;
}

input[type=submit] {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #9381FF;
    color: rgb(253, 253, 253);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=button] {
    background-color: #9381FF;
    color: rgb(253, 253, 253);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #B8B8FF;
    color: rgb(253, 253, 253);
}

input[type=button]:hover {
    background-color: #B8B8FF;
    color: rgb(253, 253, 253);
}
