*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFEEDD; 
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#FFEEDD), color-stop(10%,#B8B8FF), color-stop(100%,#FFD8BE)); */
  height:100vh;
  background: -webkit-linear-gradient(to right, #FFEEDD, #B8B8FF, #FFD8BE);
  background: linear-gradient(to right, #FFEEDD, #B8B8FF, #FFD8BE);
}

h1{
  color: white;
  display: grid;
  font-size: 53px;
  justify-content: center;
  align-items: self-start;
  text-shadow: 2px 2px 4px #9381ff;
  margin: 0px 0px -20px 0px;
  padding: 90px 0px 0px 0px;}


/**********************
*********BOX*********
**********************/

.loginWrapper{
  display: grid;
  /* border-radius: 10px; */
  grid-template-rows: 1fr;
  grid-template-columns:  auto auto auto ;
  gap: 7px;
  background-color: #fdfdfc00; 
  height: auto;   
  padding: 0px 0px 0px 0px;
}

.loginBox1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1; 
  grid-row-end: 2;
  color: rgb(8, 8, 8);
  display: grid;
  align-items: center;
  /* border: red solid; */
}

.loginBox1 .h1{
  display: grid;
  align-items: center;
  justify-content: center;
}

.loginBox2 {
  grid-column-start: 2;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  color: rgb(8, 8, 8);
  border-radius: 10px;
  font-size: 12px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 45px 10px 0px 10px;
  height: auto;
}

.loginBox3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  color: rgb(3, 3, 3);
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 25px 10px 0px 10px;
  /* border: black solid; */
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.form-group input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-radius: 10px;
  border: unset;
  background-color: #B8B8FF ;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  font-size: 27px;
}

form p {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

    /**********************
    *********INPUT*********
    **********************/

input[type="text"] {
  width: 100%;
  padding: 3px;
  border: 2px solid #9381FF;
  color: black;
  background-color: white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;    
  letter-spacing: 3px;
}

input[type="pseudo"] {
  width: 100%;
  padding: 3px;
  border: 2px solid #9381FF;
  color: black;
  background-color: white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;    
  letter-spacing: 3px;
  font-size: 20px;
}

input[type="email"] {
  width: 100%;
  padding: 3px;
  border: 2px solid #9381FF;
  color: black;
  background-color: white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;    
  letter-spacing: 3px;
  font-size: 20px;
}

input[type="password"] {
  width: 100%;
  padding: 3px;
  border: 2px solid #9381FF;
  color: black;
  background-color: white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;    
  letter-spacing: 3px;
  font-size: 20px;
}

input[type="submit"] {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #9381FF;
  color: rgb(253, 253, 253);
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
}

.loginBox3 input[type="submit"] {
  width: 30%;
}

.registerBox6 input[type="submit"] {
  width: 30%;
}

.forgetBox9 input[type="submit"] {
  width: 30%;
}

.newBox12 input[type="submit"] {
  width: 10%;
}

input[type=button] {
  background-color: #9381FF;
  color: rgb(253, 253, 253);
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #B8B8FF;
  color: rgb(253, 253, 253);
}

input[type=button]:hover {
  background-color: #B8B8FF;
  color: rgb(253, 253, 253);
}

/*************************
*********REGISTER*********
*************************/

.registerWrapper{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:  auto auto auto ;
  gap: 7px;
  background-color: #fdfdfc00; 
  height: auto;   
}

.registerBox4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1; 
  grid-row-end: 2;
  color: rgb(8, 8, 8);
  display: grid;
  align-items: center;
  margin: 0px 0px 0px 0p;
  padding: 0px 0px 0px 0px;
}

.registerBox4 .h1{
  display: grid;
  align-items: center;
  justify-content: center;
}

.registerBox5 {
  grid-column-start: 2;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  color: rgb(8, 8, 8);
  border-radius: 10px;
  font-size: 12px;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  margin: 50px 10px 0px 10px;
  height: auto;
}

.registerBox6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  color: rgb(3, 3, 3);
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 33px 10px 25px 10px;
  padding: 0px 0px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  font-size: 27px;
  margin: 0px 0px 65px 0px;
}

/*************************
*****FORGET PASSWORD******
*************************/

.forgetWrapper{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:  auto auto auto ;
  gap: 7px;
  background-color: #fdfdfc00; 
  height: auto;   
}

.forgetBox7 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1; 
  grid-row-end: 2;
  color: rgb(8, 8, 8);
  display: grid;
  align-items: center;
  /* border: red solid; */
}

.forgetBox7 .h1{
  display: grid;
  align-items: center;
  justify-content: center;
}

.forgetBox8 {
  grid-column-start: 2;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  color: rgb(8, 8, 8);
  border-radius: 10px;
  font-size: 12px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 50px 10px 0px 10px;
  height: auto;
}

.forgetBox8 form {
  padding: 30px;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
}
  
.forgetBox9 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  color: rgb(3, 3, 3);
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 30px 80px 0px 100px;
  /* border: black solid; */
}

/*************************
*****NEW PASSWORD******
*************************/

.newWrapper{
  display: grid;
  /* border-radius: 10px; */
  grid-template-rows: 1fr;
  grid-template-columns:  auto auto auto ;
  gap: 7px;
  background-color: #fdfdfc00; 
  height: auto;   
}

.newBox10 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1; 
  grid-row-end: 2;
  color: rgb(8, 8, 8);
  display: grid;
  align-items: center;
  /* border: red solid; */
}

.newBox10 .h1{
  display: grid;
  align-items: center;
  justify-content: center;
}

.newBox11 {
  grid-column-start: 2;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  color: rgb(8, 8, 8);
  border-radius: 10px;
  font-size: 12px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 55px 10px 0px 10px;
  height: auto;
}

.newBox11 form {
  padding: 30px;
  border-radius: 10px;
  margin: 0px 0px 60px 0px;
}

.newBox12 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  color: rgb(3, 3, 3);
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: -75px 0px 45px 0px;  
  /* border: black solid; */
}

  /************************
  *********CONTACT*********
  ************************/

.map{
    margin: 30px 0px 0px 50px;
  }

form {
    padding: 30px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
  }
  form h1 {
    font-size: 35px;
    margin: 0px 0px 0px 0px;  
  }
  form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
  }
  form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin: 20px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    font-size: 21px;
  }
  form .corps-formulaire .groupe {
    position: relative; /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  form .corps-formulaire .gauche .groupe input {
    margin-top: 0px;
    padding: 10px 5px 10px 45px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
    width: 120%;
    height: 0%;
  }
  form .corps-formulaire .gauche .groupe input :hover {
    margin-top: 0px;
    padding: 10px 5px 10px 45px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
  }
  
  form .corps-formulaire .gauche .groupe i {
    position: absolute; /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 45px;
    padding: 9px 8px;
    color: #747cdf;
  }
  form .corps-formulaire .droite {
    margin: 27px 0px 0px 115px;
    height: 335px;
    width: 245px;
  }
  form .corps-formulaire .droite .groupe {
    height: 100%;
  }
  form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
    width: 120%;
  }
  form .pied-formulaire button {
    margin: 0px 0px 0px 0px;
    color: white;
    background-color: #747cdf ;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  form .pied-formulaire button:hover {
    transform: scale(1.05);
    color: #000;
    background: black;
  }
  
  @media screen and (max-width: 920px) {
    form .corps-formulaire .droite {
      margin-left: 0px;
    }
  }
  form .pied-formulaire input {
    margin: 0px 15px 0px 15px;
    padding: 0px 0px 0px 0px;
    margin-top: 55px;
    margin-bottom: auto;
    background-color: #9381FF;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    display: inline;
  }
  form .pied-formulaire input :hover {
    margin: 0px 15px 0px 15px;
    font-size: 35px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  img{
    cursor: pointer;
  }

  /********************
  *****USER PHOTOS***** 
  ********************/

.userPhotosGrille {
  max-width: 1300px;
  width: 76%;
  height: auto;
  margin: 20px auto;
  /* border: 1px solid #333; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  grid-gap: 20px;
  background:white;
  border: solid white 20px;
  border-radius: 10px;
  box-shadow:10px 10px 7px rgba(173, 173, 173, 0.7);
}

.userPhotosGrid-item {
  width: 200px;
  height: 200px;
  background: #E5E5E5;
  transition: transform .15s linear;
}

.userPhotosWrapper {
  max-width: 900px;
  height: auto; 
  margin: 0px auto;
}

.userPhotosCover{        
  height: 195px;
  /* background: gray; */
}

.userPhotosCover img {
  width: 100%;
  height: 215px;
  margin-top: 40px;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

.userPhotosCircle {
  width: 155px;
  height: 155px;
  margin: auto;
  border-radius: 50%;

  position: relative;
  top: -20px;
}

.userPhotosTitle  {
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0);
}

.userPhotosLogo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.id{
  position:relative;
  top: -80px;
  text-align: center;
}

.userPhotosId-section{
  background: rgba(255, 255, 255, 0);
}

/* .grid-item:hover {
  width: 200px;
  height: 200px;
  background: #E5E5E5;
  transform: scale(2);
  position:relative;
  z-index:5;
  text-decoration:none;
  padding:1em;
  transition: transform .15s linear;
} */

  /********************
  *****USER PROFIL***** 
  ********************/

.userProfilWrapper {
  max-width: 900px;
  height: auto; 
  margin: 0px auto;
}

.userProfilCover {        
  height: 195px;
  /* background: gray; */
}

.userProfilCover img {
  width: 100%;
  height: 215px;
  margin-top: 40px;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

.userProfilCircle {
  width: 155px;
  height: 155px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #ffff;
  position: relative;
  top: -20px;
}

.userProfilLogo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.id {
  position:relative;
  top: -80px;
  text-align: center;
}

.userProfilId-section {
  background: rgba(255, 255, 255, 0);
}

h5 {
  color: rgb(56, 54, 54);
  font-weight: bold;
}
.buttons {
  position: relative;
  top: -70px;
}

button {
  padding: 10px;
  border: none;
  background: #bbb7a9;
  border-radius: 80px;
}

.userProfilTitle {
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0);
}

.userProfilGrid{
  background: rgba(255, 255, 255, 0);
  max-width: 1300px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:repeat(9, 100px) ;
  grid-template-rows: repeat(9, auto-fill);
}

.userProfilGridGallery {
  max-width: 1300px;
  width: 200%;
  height: auto;
  margin: 20px auto;
  /* border: 1px solid #333; */
  display: grid;
  grid-row: 2 / 4;
  grid-template-columns: repeat(2, 75px);
  /* grid-template-rows: repeat(2, 100px);     */
  justify-content: center;
  grid-gap: 15px;
  background:white;
  border: solid white 20px;
  box-shadow:10px 10px 7px rgba(173, 173, 173, 0.7);
  /* box-shadow: 5px 5px 7px rgba(33,33,33,.7); */
  transition: transform .15s linear;  
  border-radius: 10px;
  cursor: pointer;
}

.userProfilGridGallery-item {
  width: 75px;
  height: 75px;
  background: #E5E5E5;
}

.userProfilGrilleInfo {
  max-width: 1300px;
  width: 200%;
  height: auto;
  margin: 20px auto;
  /* border: 1px solid #333; */
  display: grid;
  /* grid-template-columns: repeat(2, 75px); */
  /* grid-template-rows: repeat(2, 100px);     */
  /* grid-template-columns: repeat(2, 75px); */
  justify-content: center;
  /* grid-gap: 15px; */
  background: white;
  /* border: solid white 20px; */
  box-shadow:10px 10px 7px rgba(173, 173, 173, 0.7);
  transition: transform .15s linear;
  border-radius: 10px;
  cursor: pointer;
}

.userProfilGrillePost{
  max-width: 1300px;
  width: 200%;
  height: 120px;
  margin: 20px auto;
  grid-row: 1;
  grid-column: 4/7;
  /* border: 1px solid #333; */
  display: grid;
  /* grid-template-columns: repeat(2, 75px); */
  /* grid-template-rows: repeat(2, 100px);     */
  /* grid-template-columns: repeat(2, 75px); */
  justify-content: center;
  background:#9381FF;
  margin-top: 60px;
  /* border: blueviolet dashed 4px; */
  transform: rotate(-12deg);
  box-shadow:10px 10px 7px rgba(173, 173, 173, 0.7);
  transform: scale(1);
  position:relative;
  /* z-index:5; */
  transition: transform .15s linear;
  /* transform: rotate(-6deg); */
  border-radius: 10px;
}

.userProfilGrillePost a i {
  margin-top: 50px;
  margin-left: 515px;
  color: rgb(253, 253, 253);
  font-size: 25px;
}

.userProfilInput {
  position: absolute;
  margin: 34px 300px 30px 20px;
  width: 84%;
  border-radius: 10px;
  overflow: hidden;
}

.userProfilInput .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.userProfilInput input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  border-radius: 10px;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 45px;
  font-size: 15px;
  font-weight: 400px;
  background: white;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}

.userProfilInput input:hover {
  background: white;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
}

.userProfilInput input:not(:-moz-placeholder-shown) + .label {
  color: white;
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.userProfilInput input:not(:-ms-input-placeholder) + .label {
  color: white;
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.userProfilInput input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.userProfilInput input:focus {
  background: white;
  outline: none;
  box-shadow: inset 0 -2px 0 blueviolet;
}

.userProfilInput input:focus + .label {
  color: blueviolet;
  transform: translate3d(0, -12px, 0) scale(0.75);
}

.userProfilInput input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

.userProfilGrillePublication {
  max-width: 1300px;
  width: 200%;
  height: auto;
  margin:0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  /* border: 1px solid #333; */
  display: grid;
  /* grid-template-columns: repeat(2, 75px); */
  /* grid-template-rows: repeat(2, 100px); */
  grid-column: 4 / 7;
  grid-row: 2 / 5;
  justify-content: center;
  grid-gap: 15px;
  background:white;
  border-radius: 10px;
  /* border: solid #C4C4C4 20px; */
}

.userProfilContainer {
  box-shadow:10px 10px 7px rgba(173, 173, 173, 0.7);
  font-size: 150%;
  display: grid;
  grid-template-columns:auto 1fr 1fr 1fr 1fr 1fr 1fr auto;
  height: auto;
  margin-top: 0px;
  border-radius: 10px;
}

.userProfilPseudo {
  font-size: 150%;
  display: grid;
  height: auto;
  margin-top: 15px;
  align-content: center;
  justify-content: flex-end;
  font-style: oblique;
}

.userProfilContainer .userProfilLogoPublication {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  display: grid;
  margin-left: 15px;
  grid-column: 2 / 3;
}
    
/* .name{
  grid-column: 3/5;
  grid-row: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  font-size: 30px;
  text-shadow: rgb(240, 11, 11) 5px;
  text-decoration: crimson;
} */

.userProfilContenu {
  display: grid;
  grid-column: 2/8;
  grid-row: 2;
  height:auto;
  padding: 0px;
  letter-spacing: 1px;
  /* justify-content: space-around; */
  align-content: space-between;
  margin: 30px;
}

.userProfilLike {
  grid-column: 3/4;
  grid-row: 3;
  border-radius: 5px;
  overflow: hidden;
  background-color: #c4c4c400;
  transition: transform .15s linear;
}

.userProfilLike a i {
  font-size: 50px;
  color: #9381FF;
}

.userProfilLike h3 {
  margin: -30px 0px 0px 70px;
  font-size: 25px;
  color: #9381FF;
}

.userProfilComment {
  grid-column: 6/8;
  grid-row: 3;
  overflow: hidden;
  background-color: white;
  font-size: 50px;
  border-radius: 10px;
}

.userProfilComment a i {
  font-size: 50px;
  color: #9381FF;
}

/***************
 ****NAVBAR***** 
 ***************/
 
.fas {
  font-size: 1.2em;
}
.navbar {
  background-color: #9381FF;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  /* height: 40px; */
}
.navbar .logo {
  height: 40px;
  width: 120px;
  grid-column: 2 / 3;
}
.amag{
  width: 0%;
  padding: 5px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
}
.navbar .menu {
  grid-column: 4 / 7;
  display: flex;
  margin: 0px 0px 0px 0px;
}
.navbar ul li {
  margin-right: 3em;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.navbar a:hover {
  color: #B8B8FF;
}
.navbar .menu-bar {
  display: none;
}
.navbar .log {
  grid-column: 8 / 9;
  justify-content: flex-end;
  margin: 0px 0px 0px 0px;
}
.navbar .connexion {
  grid-column: 8 / 9;
  justify-content: flex-end;
  margin: 0px 0px 0px 0px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: #9381FF;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }
  .navbar .logo {
    height: 40px;
    width: 120px;
    grid-column: 2 / 3;
  }
  .navbar .menu {
    grid-column: 4 / 7;
    display: flex;
  }
  .navbar ul li {
    margin-right: 3em;
    list-style: none;
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .navbar ul li a:hover {
    color: #B8B8FF;
  }
  .navbar .menu-bar {
    display: none;
  }
  .navbar .log {
    grid-column: 8 / 9;
    justify-content: flex-end;
  }
  .navbar {
    position: relative;
  }
  .navbar .menu {
    position: absolute;
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    background-color: #9381FF;
    transform: translateX(170%);
    transition: all 1s;
    margin-top: 34em;
    z-index: 1;
  }
  .navbar .menu-toggle {
    transform: translateX(70%);
  }
  .navbar .log {
    display: none;
  }
  .navbar .menu-bar {
    display: block;
  }
  .navbar .menu-bar .fas {
    color: white;
  }
  .navbar .menu li {
    list-style: none;
    margin: 0 auto;
  }
  .navbar .menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
  }
  .navbar .menu-bar {
    grid-column: 8 / 10;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
  }
}

/***************
 ****INDEX***** 
 ***************/

 .indexCont{
  padding: 15% 15% 0% 15%;
}
 
.indexContainer{
  box-shadow:10px 10px 7px rgba(173, 173, 173, 0.7);
  font-size: 150%;
  display: grid;
  grid-template-columns:auto 1fr 1fr 1fr 1fr 1fr 1fr auto;
  height: auto;
  margin-top: 50px;
  margin: 0px 0px 0px 0px; 
  width: 1000;  
  border-radius: 10px;
  background: white;
  margin-top: 0px;
}

.indexImg{
  margin: 10px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
}

.indexLogo{
      width: 40px;
      height: 40px;
      border-radius: 50%; 
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
.indexName{
  grid-column: 2/5;
  grid-row: auto;
  margin: 5px 0px 10px 0px;
  justify-items: center;
  align-items: center;
  display: grid;
  font-size: 25px;
  padding: 0px 90px 0px 0px
  ;
}

.indexContenu{
  grid-column: 2/8;
  grid-row: 2;
  height:auto;
  letter-spacing: 1px;
  margin: 0px 80px 10px 45px;
  padding: 0px 0px 0px 0px;
}

.indexLike{
  grid-column: 2/4;
  grid-row: 3;
  border-radius: 5px;
  overflow: hidden;
  background-color: hsl(0, 100%, 100%);
}

.indexLike a i{
  font-size: 50px;

}
.indexComment{
  grid-column: 6/8;
  grid-row: 3;
  overflow: hidden;
  background-color: #ffffff;
  font-size: 50px;
    }

/******************
*******CHAT********
*******************/

.chat {
  margin-top: auto;
  margin-bottom: auto;
  margin: 0px 0px 0px 0px;
  padding: 80px 0px 0px 0px;
  display: grid;
  justify-content: center;
  align-content: center;
}


.ChatCard {
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  /* background: #7F7FD5; */
  /* background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
  background: linear-gradient(to right, #bacac9, #92a1bd, #ececf8);
  width: 100%;
  margin: 0px 0px 0px 0px;
  font-size: 0%;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
  justify-content: space-between;
  padding: 10px 0px 5px 0px;
}

.ChatContacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;

}

.Chatmsg_card_body {
  overflow-y: auto;
  height: 300px;

}

.ChatCard-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
  background: #644e63;
}

.ChatCard-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
  background: #795e77;
}

.ChatContainer {
  align-content: center;

}

.ChatSearch {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
} 

.ChatSearch:focus {
  box-shadow: none !important;
  outline: 0px !important;
} 

.ChatType_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.ChatType_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.ChatAttach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.ChatSend_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.ChatSearch_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;

}

.ChatContacts {
  list-style: none;
  padding: 0;
}

.ChatContacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}

.ChatActive {
  background-color: rgba(0, 0, 0, 0.3);
}

.ChatUser_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;

}

.ChatUser_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.ChatImg_cont {
  position: relative;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  padding-top: 5px;
}

.ChatImg_cont_msg {
  height: 40px;
  width: 40px;
  padding-top: 5px;
  margin-left: 10px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 10px;
}

.ChatOnline_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;}

.ChatOffline {
  background-color: #c23616 !important;
}

.ChatUser_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}

.ChatUser_info span {
  font-size: 20px;
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.ChatUser_info p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.ChatVideo_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.ChatVideo_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.Chatmsg_cotainer {
  margin-top:20px;
  margin-bottom: auto;
  margin-left:10px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #e7d2d5;
  padding: 20px;
  position: relative;

}

.Chatmsg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}

.Chatmsg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(26, 12, 12, 0.5);
  font-size: 10px;
}

.Chatmsg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.Chatmsg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.Chatbtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-right: 10px;
  height: 50px;
  margin-top: 5px;
  border-radius: 15px;
  width:59px;
  border-radius: 10px;
  background-color: #361ebe;
  color: #fff;
  margin-left: 1px;
}

input[type="text"] {
  width: 450px;
  padding: 20px;
  border: 2px solid #9381FF;
  color: black;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
  letter-spacing: 3px;
}

.ChatAttach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.ChatForm-control {
  display: block;
  height: calc(2.25rem + 6px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #c7d1db;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #eaeff3;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
.ChatAction_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}

.ChatAction_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ChatAction_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.ChatAction_menu ul li i {
  padding-right: 10px;

}

.ChatAction_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
  .ChatContacts_card {
      margin-bottom: 15px !important;
  }
}
.ChatEnvoyer{
  display:flex;
  justify-content: space-around;
  margin-left: 35px;
}

/*****************************
********** USER INFOS ********
*****************************/

.userInfosWrapper {
  max-width: 900px;
  height: auto; 
  margin: 0px auto;
  /* border: solid red; */
}

.userInfosCover {
  height: 140px;
}

.userInfosCover img {
  width: 100%;
  height: 215px;
  margin-top: 55px;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

.userInfosId-section {
  /* height: 311px; */
  margin: 120px 0px 70px 0px;  }

.userInfosCircle {
  width: 156px;
  height: 155px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  top: -70px;
}
.userInfosLogo {
  width: 150px;
  height: 147px;
  border-radius: 50%;
}
.userInfosId {
  position:relative;
  top: -80px;
  text-align: center;
}
.userInfosDetailName {
  color: rgb(10, 10, 10);
  display: grid;
  font-size: 33px;
  justify-content: center; 
  align-items: center;
  text-shadow: 2px 2px 4px #ddd9f5;
  margin: 10px 0px 0px 0px;
  
}
.userInfosMoreDetailes {
  color: rgb(3, 3, 3);
  font-weight: bold;
  font-size: 14px;
}

.userInfosDetails {
  margin-left: 0px;
  position: relative;
  top: 0px;
  text-shadow: 1px 1px 2px #ddd9f5;
  margin: 0px 150px 0px 150px;
  background: white; 
  border-radius: 10px;
  height: auto;
}

.userInfosDetails ul{
  list-style: none;
  margin: 0px 0px 0px 210px;
}

.userInfosDetails ul li{
  margin-bottom: 1px;
  margin-left: 10px;
  align-items: center;
}
.userInfosDetails ul li b{
  color: rgb(22, 20, 20);
  padding: 8px;
}
