<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/stylo.css' />
  
  <title>Navbar</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2e91114682.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar">
        <div class="containerNav">
            <nav>
                <div class="logo">
                    <hi class="logo"><img src="/images/readmeLogo.svg" width="550px" height="550px"></hi>
                </div>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-comments"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-user"></i></a></li>  
                    <li><a href="#"><i class="fa-solid fa-phone"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><a href="#"><i class="b">Login</i></a></li>
                    <li><a href="#"><i class="b">Register</i></a></li>
                    <!-- <div class="button">
                        <b href="#">Login</b>
                        <b href="#">Register</b>
                    </div> -->
                </ul>
            </nav>
        </div>
    </div>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6dbcecf15f990838',m:'pp_W3zb7rEYEZmaXvYYf8nRG0Nu1CffS0.UcuLU6wq8-1644575675-0-AX40RyR0VebA8S8h7PfnDLkIgOsyOMN2EpOeMuew/mI+ACCCXqif1INVt4M6K6DMMV/bTlzp2oiyvzbk6YpomIJ0bxD4jla73sfLGh5+LxTmlfKow/N83injdCNOWNmgAaoG21jJFb2c5X3fcOkPLYb0xqjXtcw2kw3+gtZzB/RM3YKppbK/sN0oBlK2qLDGkw==',s:[0xdb5a2ab89b,0x9d02bc227e],}})();</script>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>

<main><%-body %></main> 
<p>© Copyright 2022 - Dwwm Prod</p>

</body>
</html>